{% extends 'admin/admin-base.html.twig' %}

{% block title %}Usuários{% endblock %}
{% block page_subtitle %}Novo Usuário{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fa fa-plus"></i> Cadastrar
        </button>
    {{ form_end(form) }}
{% endblock %}
